

html, body{
margin: 0;
padding: 0;
scroll-behavior: smooth;
}

body{
    background-color: black;
}

nav, header, section, footer{
    width: 100%;
    margin: 0;
    position: relative;
}

footer{
    text-align: center;
    color: grey;
    font-size: 25pt;
}

nav{
    display: flex;
    flex-direction: row;
}
 img {
    width: 100%;
    height: auto;
    display: block;
}

header {
    margin: 0;
    padding: 0;
}

header img {
    width: 100%;
    display: block; /* empêche l'espace sous les images */
    margin: 0;
    padding: 0;
}

.cartes-contact{
    position: absolute;
    width: 100%;
    right:10%;
    top:40%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:20px;
}
.cartes-contact > *{
    width:200px;
}

a:hover{
    scale: 1.05;
}






.menu-top {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.menu-btn {
    padding: 10px 20px;
    background-color: #222;
    color: rgb(7, 228, 228);
    font-size: 14pt;
    text-decoration: none;
    border-radius: 8px;

    font-family: 'Poppins', sans-serif; /* nouvelle typo */
    font-weight: 600; /* gras */
    font-style: italic; /* italique */

    transition: transform 0.2s ease, background-color 0.2s ease;
}

.menu-btn:hover {
    transform: scale(1.1);
    background-color: #999b9c;
}


nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; /* 👈 petit espace sous la barre de menu */
}
